html {
	font-family: 'Atkinson Hyperlegible', Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI',
		Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1.1em;
	line-height: 1.6;
	scroll-behavior: smooth;
	background: hsl(161, 100%, 97%);
	background: linear-gradient(120deg, hsl(281, 100%, 97%) 0%, hsl(161, 100%, 97%) 100%);
}
.btn {
	display: inline-block;
	border-radius: 0.5em;
	border: 1px solid gray;
	background-color: white;
	padding: 0.5em 1em;
	margin: 1em 0;
	cursor: pointer;
	box-shadow: none;
	transition: box-shadow 0.4s ease-in-out;
	font: inherit;
}
.btn:hover {
	box-shadow: 0 0.3px 1.4px rgba(0, 0, 0, 0.068), 0 0.7px 3.5px rgba(0, 0, 0, 0.098),
		0 1.4px 7.1px rgba(0, 0, 0, 0.122), 0 2.9px 14.6px rgba(0, 0, 0, 0.152),
		0 8px 40px rgba(0, 0, 0, 0.22);
}

code {
	font-family: 'Fira Code', monospace;
}

pre {
	max-width: 100%;
	overflow-y: auto;
}

summary {
	cursor: pointer;
}
